<!-- So here in the new ticket component html file, and add this control class here
because you can add extra attributes like this, they often just might not have any effect, 
but here it will have an effect, because by adding a class here, we're adding this class 
which is wanted by the control component css file  -->

<!-- We have to add that class whenever we use app-control. Angular gives you another 
way off adding attributes and properties to your host elements. We can remove that 
class here and then go to our ControlComponent and there we can add another setting
to the component decorator, another configuration property, and this is the host property -->

Support tickets

<form action="" (ngSubmit)="onSubmit(titleInput)">
  <app-control label="Title">
    <!-- And one alternative way of getting hold of the entire element actually and therefore, 
 also if we want to of the value that has been entered here is to store that
 element or a reference to that element in a so-called template variable which is a feature 
 offered by angular, no a standard browser feature-->
    <!-- That variable is now available anywhere here in that template-->
    <!-- The object that is yielded by this syntax (#titleInput) is the standard browser input 
   DOM object-->
    <input name="title" id="title" #titleInput />
  </app-control>

  <app-control label="Request">
    <textarea name="request" id="request" rows="3"></textarea>
  </app-control>

  <p>
    <button appButton>
      Submit
      <span ngProjectAs="icon">→</span>
    </button>
  </p>
</form>
