<!-- Use a template variable to reset that form whenever is submitted-->
<!-- I'll show you a different way of getting hold of the value that's stored in the template variable -->
<!-- Let's make sure that we get access to that form through a template variable -->
<!-- To do that, you can add a template variable to the form element
 If you hover it you see that it is the DOM element, the HTMLFormElement, 
 the object that is created behind the scenes for this form here that is 
 stored in the template variable-->
<!-- Therefore, if I wanna reset that form  whenever the form is submitted, 
 I could pass that form template variable as a third argument to on submit-->

<form action="" (ngSubmit)="onSubmit(titleInput.value, textTicket.value, form)" #form>
  <app-control label="Title">
    <input name="title" id="title" #titleInput />
  </app-control>

  <app-control label="Request">
    <textarea name="request" id="request" rows="3" #textTicket></textarea>
  </app-control>

  <p>
    <button appButton>
      Submit
      <span ngProjectAs="icon">→</span>
    </button>
  </p>
</form>
